:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



.selected-option-container{
  outline: 1px solid white;
  position: relative;
  padding: 1rem;
  width: 120%;
  min-height: 4vh;
  font-size: 1.1rem;
}


.drop-icon{
  position: absolute;
  right: 7px;
  top: 18px;
}

.remove-icon{
  position: absolute;
  right: 33px;
  top: 20px;
}

main{
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  margin-top: 4rem;
}

.dropdown-container{
  font-size: 1.1rem;
  width: 131%;
}

li{
  list-style: none;
  margin: 0;
  padding: 1rem;
}

li:hover{
  background-color: lightblue;
  color: black;
}

.item-in-block-container{
  display: flex;
  gap: 10px;
  align-items: center;
}
.item-in-block{
  background-color: rgb(109, 109, 251);
  padding: 4px;
}